body{
    margin-left: 200px;
    margin-right: 200px;
    background-image:url("https://limbuscompany.wiki.gg/images/a/a9/Main_BG.png") ;
    background-size:cover ;
    background-repeat: no-repeat;
    padding-bottom: 250px;
    background-attachment: fixed;
    
}

p{
    color: rgb(255, 255, 255);

}

.logo img {
    width: 150px;
    height: 150px;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    
  }

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    padding: 16px;
  }

.border {
    background-color: rgba(44, 44, 44, 0.534);
    border: 1px solid rgb(0, 0, 0);
}

a{
    color: rgb(65, 125, 255);
  }

  footer{
    text-align: center;
    color: white;
  }