.logo img {
    width: 100px;
    height: 150px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    padding: 16px;
  }
  
  .navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    
  }

body{
    margin-left: 200px;
    margin-right: 200px;
    background-image:url(https://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/1256670/6ba85d55f76c7e9324d0589d8b11277f7d4bd0e1.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 250px;
    background-repeat: no-repeat;
}

#search-bar {
    width: 300px;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  button[type="submit"] {
    background-color: #cacaca;
    color: #000000;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  p {
    color: rgb(255, 255, 255);
  }



a{
  color: rgb(65, 125, 255);
}

h3{
  color: rgb(255, 255, 255);
  
}

  #search-bar {
    width: 300px; 
  }
footer{
  text-align: center;
  color: white;
}

.border {
  background-color: rgba(44, 44, 44, 0.534);
  border: 1px solid rgb(0, 0, 0);
}

@media (max-width: 600px) {
  body{
    margin-left: 50px;
    margin-right: 50px;
    background: rgb(5,22,26);
    background: linear-gradient(180deg, rgba(5,22,26,1) 0%, rgba(7,46,51,1) 20%, rgba(11,111,114,1) 50%, rgba(13,150,156,1) 80%, rgba(109,167,189,1) 100%);
    background-size:cover ;
}
.logo img {
  width: 30px;
  height: 45px;
}
#search-bar {
  width: 90px; 
}
}